<ActionBar class="action-bar" title="Funcionalidad 2" icon="">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout >
        <Label class="page-icon fa" text="&#xf007;"></Label>
        <Label class="page-placeholder" text="<!-- Pagina de funcionalidad  2 -->"></Label>
    </StackLayout>
    
    <StackLayout>
        <Button text="Ir a funcionalidad 1" class="btn btn-primary" (tap)="onDrawerButtonClick()"></Button>
    </StackLayout>